---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Images
 */

 img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }

figcaption {
    font-size: $small-font-size;
    text-align: center;
    color: rgb(169, 167, 167);
  }
  
/**
* content / post
*/
#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu > ul {
  margin: 20px 0px;
}

#menu ul:not(:first-child) {
  margin: 0px;
}

#menu > ul {
  padding: 10px 30px;
  border-radius: 10px;
  border: solid 1px #e3e3e3;
  background-color: rgba($color: #e3e3e3, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

#menu ul:not(:first-child) > li > a {
  font-weight: lighter;
}

#menu ul > li > a {
  color: #454242;
}

/** footer **/

.social-media-list > li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
  }

.contact-list li + li {
    padding-top: 5px;
}

/** home **/

.excerpt {
    color: #00000082; 
}

.post-link {
  border-radius: 5px;
}

.blogovani {
  background: linear-gradient(to right, #94bcf055, #FDFDFD 40%);
  border-radius: 5%;
  padding-left: 2px;
}

.c {
  background: linear-gradient(to right, #82828255, #FDFDFD 40%);
  border-radius: 5%;
  padding-left: 2px;
}
